<% content_for(:title, t('.title')) %>
<div class='container col-lg-8 offset-lg-2'>
  <div class='row'>
    <div class='border my-3 p-3'>
      <h5>ボタンを押してクソコードを破壊しよう！</h5>
      <%= link_to 'ヒントを見る', { controller: 'steps', action: 'show', name: 'lv1_hint' } %>
    </div>
    <div class='d-flex'>
        <div class='black-code-area black-code-area-for-lv1_step3' id='js-append-code'>
          <p>def check_num(num)<br>  return 0<br>  if num >= 0<br>    return num<br>  end<br> end</p>
        </div>
        <div class='delete-btn-area'>
          <% if true %>
            <%= image_tag 'blue_del_btn.png', size: '200x200', onclick: 'appendCode()' %>
          <% else %>
            <%= image_tag 'blue_del_btn.png', size: '200x200' %>
          <p class='mt-3'>設定<br>HTTPメソッド：DELETE<br>REQUEST<br>を送信しクソコードを破壊する。</p>
        </div>
    </div>
    <!--
        <%= form_with model: @record, local: true, method: :patch do |f| %>
          <%= f.submit 'クリア', class: 'btn btn-primary' %>
          <%= f.submit 'ギブアップ', class: 'btn btn-gray' %>
        <% end %>
    -->
    <div class='text-center mt-3'>
      <%= link_to '戻る', { controller: 'steps', action: 'show', name: 'lv1_step2' }, class: 'btn btn-success' %>
    </div>
  </div>
</div>