<% content_for(:title, t('.title')) %>
<div class='container'>
  <div class='row'>
    <div class='my-5'>
      <div class='text-center col-sm-8 offset-sm-2'>
        <h3><%= t('.title') %></h3>
        <div class='clear_time_container' style='position: relative; height: 140px;'>
          <h1><%= clear_time(@record) %></h1>
          <%= image_tag 'score_image.png', size: '300x100', style: 'position: absolute; left: 50%; transform: translate(-50%, -35%);' %>
        </div>
        <div class='result-container'>
          <div class='result-item'>
            <%= Record.human_attribute_name(:level) %>
            <h3><%= label_level(@record) %></h3>
          </div>
          <hr>
          <div class='result-item'>
            <%= Record.human_attribute_name(:user) %>
            <h3><%= @record.user.username %></h3>
          </div>
          <hr>
          <div class='result-item'>
            <%= Record.human_attribute_name(:status) %>
            <h3><%= @record.status %></h3>
          </div>
          <hr>
          <div class='result-item'>
            <%= Record.human_attribute_name(:rank) %>
            <h3><%= display_rank(@record) %></h3>
          </div>
        </div>
        <div class='mt-3'>
          <%= link_to 'ランキングへ', ranking_path %>
        </div>
      </div>
    </div>
  </div>
</div>