<% content_for(:title, t('levels.steps.step1')) %>
<div class='container  col-lg-8 offset-lg-2'>
  <div class='border my-3 p-3'>
    <h5 class='text-center'>クイズを解いてボタンの初期設定を完了させよう</h5>
  </div>
  <div class='text-center'>
    <%= image_tag 'blue_button.png', size: '200x130' %>
    <p>↓</p>
  </div>
  <div class='grid-container my-3'>
    <!-- grid開始 -->
    <div class="grid">
      <!-- 文字を入れます -->
      <% (1..10).each do |y| %>
        <% (1..7).each do |x| %>
          <span class='crossword-answer' id="ans-<%= x %>-<%= y %>"><%= lv1_crossword_answer(x, y) %></span>
        <% end %>
      <% end %>
      <!-- /文字入れ -->
      <!-- 不要なマスを黒塗りにしています -->
      <div class="grid grid--2">
        <% (1..7).each do |x| %>
          <% (1..2).each do |y| %>
            <span class="grid__item grid_item-<%= x %>-<%= y %>"></span>
          <% end %>
        <% end %>
      </div>
      <!-- /黒塗り -->
    </div>
    <!-- /grid -->
  </div>
  <div class='quiz-links-container mb-3'>
    <ul>
      <% (1..7).each do |n| %>
        <% if current_user.have_answer?(n) %>
          <li><%= link_to t("levels.steps.quiz#{n}"), level_step_edit_answer_path(params[:level_id], Settings.Level1[:step1], n) %></li>
        <% else %>
          <li><%= link_to t("levels.steps.quiz#{n}"), level_step_new_answer_path(params[:level_id], Settings.Level1[:step1], n) %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class='text-center pb-5'>
    <% if lv1_step1_answer == 'REQUEST' %>
      <p>answer. <span class='h3 text-danger'><%= lv1_step1_answer %></span><br>を送信しクソコードを破壊する。</p>
      <p><small class='text-danger'>You are correct!</small></p>
      <%= link_to t('defaults.next'), level_step_new_answer_path(params[:level_id], Settings.Level1[:step2], 8), class: 'btn btn-success' %>
    <% else %>
      <p>answer. <span class='h3'><%= lv1_step1_answer %></span><br>を送信しクソコードを破壊する。</p>
    <% end %>
  </div>
</div>