<% content_for(:title, t('.title')) %>
<div class='container'>
  <div class='row'>
    <div class='col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 mt-5'>
      <h3 class='text-center'><%= t('.title') %></h3>
      <!-- vanish-container -->
      <div class='vanish-container'>
        <div class='input-kusocode-container mb-3'>
          <div class='selected-vanish'>
          </div>
          <%= form_with model: @kusocode, local: true do |f| %>
            <%= f.text_area :code, rows: 8, class: 'form-control', placeholder: 'コードを入力', id: 'js-inputForm', onkeyup: 'inputCheck();' %>
            <div class='btn-area d-flex justify-content-around my-3'>
              <%= button_tag '破壊', type: 'button', class: 'btn btn-lg btn-danger rounded-pill px-4', onclick: 'fireBomb();' %>
              <%= f.submit '投稿', class: 'btn btn-lg btn-success rounded-pill px-4', id: 'js-kusocode-submit-status', disabled: true %>
            </div>
            <div class='descript-area'>
              <%= f.text_field :description, class: 'form-control', placeholder: '説明文　例）全てを０にして返すキングオブクソコード' %>
            </div>
          <% end %>
        </div>
      </div>
      <div class='display-container'>
        <div class='black-code-area' id='js-explode'>
          <p id='js-check'></p>
        </div>
      </div>
      <!-- /vanish-container -->
    </div>
  </div>
</div>
